@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);
$font-family: 'Poppins', sans-serif;
$font-size: 16px;
$transition: all .2s linear;