@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: hsl(0deg, 100%, 74%);
  background-image: url(../images/bg-intro-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
}

h1,
p,
a {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.attribution {
  position: absolute;
  bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: hsl(0deg, 100%, 74%);
    background-image: url(../images/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
main {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

main > section {
  flex: 1;
}

.hero-text {
  color: #fff;
  text-align: center;
}

.hero-text h1 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.25;
  font-weight: 600;
}

.hero-text p {
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin-bottom: 4rem;
  font-family: "Poppins", sans-serif;
}

.hero-form > p {
  font-size: 1rem;
  text-align: center;
  color: #fff;
  background-color: Hsl(245, 30%, 48%);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 2px 1px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.hero-form > p span {
  font-weight: 400;
}

form {
  background-color: #fff;
  text-align: center;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 2px 1px rgba(0, 0, 0, 0.2);
}

form input {
  padding: 1.25rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  width: 100%;
  border: 0.5px solid hsl(246deg, 25%, 77%);
  font-size: 1rem;
}

input.err {
  background-image: url(../images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: center right 10px;
  border: 2px solid hsl(0deg, 100%, 74%);
}

form input::placeholder {
  font-weight: 700;
  font-size: 1rem;
}

form button {
  width: 100%;
  background-color: hsl(154deg, 59%, 51%);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 1.25rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0px 4px 2px 1px hsla(154deg, 59%, 35%, 0.6);
  transition: all 0.2s linear;
}

form button:hover {
  background-color: hsla(154deg, 59%, 51%, 0.7);
}

form p {
  font-size: 0.65rem;
  color: hsl(246deg, 25%, 77%);
}

form p a {
  color: hsl(0deg, 100%, 74%);
  font-weight: 600;
  line-height: 1.5;
}

.form-field {
  position: relative;
  margin-bottom: 1rem;
}

.error {
  position: absolute;
  color: hsl(0deg, 100%, 74%);
  bottom: -5px;
  right: 0;
}

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
    max-width: 1200px;
  }
  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
  }
  .hero-text h1 {
    font-size: 3rem;
    text-align: left;
  }
  .hero-text p {
    text-align: left;
  }
  form button {
    font-size: 1rem;
  }
}
footer {
  display: flex;
  justify-content: center;
}